.mian-DishesbIgdiv {
    width: 90%;
    margin: auto;
    background-color: #2C3E50;
}

.dishes-marger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.First-dishesmarGer {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.xmob-keci {
    display: block;
    max-width: 100%;
    transition: 3s;

}
.xmob-keci:hover{
    transform: scale(1.2);
    transition: 3s;
      

}

.xbos-SHemwvari {
    font-family: 'BPG DedaEna NonBlock';
    font-size: 30px;
    color: beige;
    text-shadow: red 2px 2px;
}

.food-STRing {
    padding: 30px;
    background-color: antiquewhite;
    max-width: 100%;
    transition: 3s;
}
.dishes-dabla{
    margin-top: 50px;

}
.xmob-New:hover{
    transform: skew(10deg, 10deg);

}
.rotate{
    transition: 2s;
}
.rotate:hover{
    transform:rotate(360deg);
    transition: 2s;
}
.food-STRing:hover {
    background-color: #2C3E50;
    transition: 3s;
}
.skew{
    transition: 2s;
}
.skew:hover{
    transform: skew(11deg);
    transition: 2s;
}
.rotatt{
    transition: 2s;
}
.rotatt:hover{
    transform: rotateY(40deg);
    transition: 2s;
}