@font-face {
    font-family: 'KA_LORTKIPANIDZE';
    src: url('../fonts/ka-lortkipanidze-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ka-lortkipanidze-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ka-lortkipanidze-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ka-lortkipanidze-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/ka-lortkipanidze-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ka-lortkipanidze-webfont.svg#ka_lortkipanidzeregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ALK Tommaso';
    src: url('../fonts/alk-tommaso-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-tommaso-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-tommaso-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-tommaso-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-tommaso-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-tommaso-webfont.svg#alk_tommasoregular') format('svg'); /* Legacy iOS */
}



@font-face {
    font-family: 'BPG DedaEna NonBlock';
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-dedaena-nonblock-webfont.svg#bpg_dedaena_nonblockregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ALK Rounded Nusx Med';
    src: url('../fonts/alk-rounded-nusx-med-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-rounded-nusx-med-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-rounded-nusx-med-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-rounded-nusx-med-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-rounded-nusx-med-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-rounded-nusx-med-webfont.svg#alk_rounded_nusx_medregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG DedaEna NonBlock';
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-dedaena-nonblock-webfont.svg#bpg_dedaena_nonblockregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Arial GEO BoldItalic';
    src: url('../fonts/arial-geo-bolditalic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/arial-geo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/arial-geo-bolditalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/arial-geo-bolditalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/arial-geo-bolditalic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/arial-geo-bolditalic-webfont.svg#arial_geobolditalic') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Glaho Bold';
    src: url('../fonts/bpg-glaho-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-glaho-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-glaho-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-glaho-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-glaho-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-glaho-bold-webfont.svg#bpg_glahobold') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/dejavu-sans-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dejavu-sans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dejavu-sans-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dejavu-sans-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/dejavu-sans-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dejavu-sans-webfont.svg#dejavu_sansregular') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'BPG Nino Medium Condenced';
    src: url('../fonts/bpg-nino-medium-condenced-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-medium-condenced-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-medium-condenced-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-medium-condenced-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-medium-condenced-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-medium-condenced-webfont.svg#bpg_nino_medium_condencedregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Nuskha Modern';
    src: url('../fonts/bpg-nuskha-modern-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nuskha-modern-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nuskha-modern-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nuskha-modern-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nuskha-modern-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nuskha-modern-webfont.svg#bpg_nuskha_modernregular') format('svg'); /* Legacy iOS */
}



@font-face {
    font-family: 'BPG Mikheil Stefane';
    src: url('../fonts/bpg-mikheil-stefane-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-mikheil-stefane-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-mikheil-stefane-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-mikheil-stefane-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-mikheil-stefane-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-mikheil-stefane-webfont.svg#bpg_mikheil_stefaneregular') format('svg'); /* Legacy iOS */
}