@font-face {
    font-family: 'KA_LORTKIPANIDZE';
    src: url('../fonts/ka-lortkipanidze-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ka-lortkipanidze-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ka-lortkipanidze-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ka-lortkipanidze-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/ka-lortkipanidze-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ka-lortkipanidze-webfont.svg#ka_lortkipanidzeregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ALK Tommaso';
    src: url('../fonts/alk-tommaso-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-tommaso-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-tommaso-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-tommaso-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-tommaso-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-tommaso-webfont.svg#alk_tommasoregular') format('svg'); /* Legacy iOS */
}



@font-face {
    font-family: 'BPG DedaEna NonBlock';
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-dedaena-nonblock-webfont.svg#bpg_dedaena_nonblockregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ALK Rounded Nusx Med';
    src: url('../fonts/alk-rounded-nusx-med-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-rounded-nusx-med-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-rounded-nusx-med-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-rounded-nusx-med-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-rounded-nusx-med-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-rounded-nusx-med-webfont.svg#alk_rounded_nusx_medregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG DedaEna NonBlock';
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-dedaena-nonblock-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-dedaena-nonblock-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-dedaena-nonblock-webfont.svg#bpg_dedaena_nonblockregular') format('svg'); /* Legacy iOS */
}