@media only screen and (max-width: 1024px) {
    .first-UlNamen {
        gap: 30px;
        font-size: 21px;
    }
    .momawwesrigebeli-fristconteiners{
        flex-direction: column;
        gap: 50px;
    }
    .named-sTori:hover{
        text-shadow: 2px 2px red;
    }
    .jacobs-gvino{
        width: 100%;
    }


    .miani{
        margin-top: 70px;
    }
}








@media only screen and (max-width: 768px) {
    .hederDiv{
        top: 30px;
        margin-left: 0px;
    }
    .navMen {
        gap: 20px;
        font-size: 21px;
        display: none;
    }

    .vazisLOgo-text {
        gap: 200px;
    }

    .burger-Bichi {
        display: block;
        color: beige;
    }
    .named-sTori{
        font-size: 20px;
    }
     .miani{
        margin-top: 40px;
    }
}







@media only screen and (max-width:480px) {
    .navMen {
        display: none;
        margin-top: 20px;
    }

    .burger-Bichi {
        display: block;
        position: absolute;
        top: 10px;
        right: 25px;
    }

    .first-UlNamen {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hederDiv {
        flex-direction: column;
        top: 0px;
    }

    .navMen.neewigeishen {
        display: block;
    }

    .vazi-venaxia {
        display: none;
    }

    .navBarTegs {
        font-size: 20px;
        font-style: italic;

    }

    .al {
        margin-top: 10px;
    }
    .marjvnena-congteiner{
        gap: 20px;
    }
    .named-sTori{
        margin-top: 20px;
    }
    .miani{
        margin-top: 25px;
    }
    .Sorbe{
        font-size: 23px;
    }
    .elVino{
        font-size: 23px;

    }
}






@media only screen and (max-width:320px) {
    .al {
        margin-top:0px;
    }
    .navBarTegs {
        font-size: 10px;
        font-style: italic;

    }
    .first-UlNamen {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .hederDiv{
        margin-left:0px;
    }
}