.hederDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    width: 90%;
    margin: auto;
    top: 80px;
    position: fixed;
    margin-left: 70px;
    z-index: 1000;
}

.vazi-venaxia {
    font-size: 30px;
    color: rgb(220, 245, 224);
    font-family: "KA_LORTKIPANIDZE", sans-serif;
    text-shadow: 2px 2px rgb(230, 32, 32);
    animation-name: vazi;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 3s;
    width: 230px;
}

@keyframes vazi {
    10% {
        color: rgb(0, 230, 38);
        text-shadow: brown 2px 2px;
    }

    20% {
        color: blueviolet;
        text-shadow: rgb(10, 240, 48) 2px 2px;

    }
}

.vazisLOgo-text {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* vazislogos style aedan */
.fa-vine {
    display: flex;
    font-size: 35px;
    color: blueviolet;
    animation-name: mtevani;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-duration: 2s;
    transition: 7s;

}

@keyframes mtevani {
    10% {
        color: brown;
        box-shadow: red 2px 2px 4px;
    }

    20% {
        color: red;
        box-shadow: rgb(100, 0, 104) 2px 2px 4px;
    }

    30% {
        color: rosybrown;
    }
}

/* aqamde */

.navMen {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    width: 100%;
}

.first-UlNamen {
    display: flex;
    gap: 52px;

}



.navBarTegs {
    color: beige;
    font-size: 30px;
    text-shadow: 2px 2px 4px red;
    position: relative;
    font-weight: 500;
}

.navBarTegs::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    background-color: rgb(8, 8, 202);
    transition: 3s;

}

.navBarTegs:hover::after {
    width: 100%;
    border: solid 4px;
    background-color: rgb(146, 150, 147);


}

.navMen a {
    display: flex;
    transition: 3s;
    animation-name: fontCvla;
    animation-duration: 21s;
    animation-iteration-count: 10;


}

@keyframes fontCvla {
    10% {
        font-family: 'sofia', sans-serif;


    }

    20% {
        font-family: 'Ga Maamli', sans-serif;
    }
}

.navMen a:hover {
    color: rgb(168, 168, 168);
    transition: 3s;
    text-shadow: 2px 2px green;


}

.burger-Bichi {
    display: none;
}

.videoBig {
    max-width: 1440px;
    max-width: 100%;
    margin: auto;

}

.video-Div {
    z-index: 100;

}

.miani {
    width: 1440px;
    width: 95%;
    margin: auto;
    margin-top: 100px;
}

.jacobs-gvino {
    display: block;
    width: 570px;
}

.Sorbe {
    font-family: "Baskervville SC", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.19em;
    text-align: left;
    color: rgba(75, 33, 33, 1);
    text-shadow: 2px 2px 5px rgb(107, 11, 185);
    text-align: center;
}

.elVino {
    font-family: JejuMyeongjo;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(35, 18, 18, 1);
    text-shadow: 2px 2px 5px rgb(107, 11, 185);
    text-align: center;
    width: 100%;

}


.marjvnena-congteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 43px;
    background: linear-gradient(180deg, rgba(221, 207, 207, 0.35) 0%, rgba(217, 217, 217, 0.35) 100%);
    transition: 4s;

}

.marjvnena-congteiner:hover {
    background-color: rgb(0, 0, 0);
    transition: 4s;

}

.named-sTori {
    font-family: JejuMyeongjo;
    font-size: 24px;
    font-weight: 400;
    line-height: 62.04px;
    letter-spacing: 0.095em;
    text-align: left;
    color: black;
    width: 90%;
    margin-top: 43px;
    transition: 3s;
    text-shadow: rgb(255, 255, 255) 2px 2px;
    text-align: center;
}

.named-sTori:hover {
    transition: 3s;
    color: beige;
    text-shadow: rgb(36, 180, 8) 2px 2px 7px;
}


.momawwesrigebeli-fristconteiners {
    display: flex;
    align-items: center;
    gap: 128px;
}

.background-image {
    display: flex;
    background-image: url('../images/gvinisbacKground.svg');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;

}

.carbent {

    font-family: JejuMyeongjo;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.315em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-align: center;

}

.Dorema {
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px red;
    width: 60%;
}

.image-botli {
    background-color: rgb(94, 89, 89);
    margin-top: 70px;
}

.backgroind-strings {
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    gap: 50px;
    align-items: center;
}

.leremas {
    font-family: "Baskervville SC", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.smoldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 31px;
    border: solid 1px;
    border-color: beige;
    border-radius: 6px;

}

.first-bac {
    width: 120px;
    height: 62px;
    top: 2937px;
    left: 153px;
    border: solid 1px;
    border-radius: 15px;
    border-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p70ml {
    font-family: JejuMyeongjo;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.315em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.smodiVs-marger {
    display: flex;
    gap: 60px;
    margin-top: 100px;
}

.momawwesrigebeli-smalbackH {
    display: flex;
    align-items: center;
}

.background-imageN2 {
    background-image: url('../images/naxevarbotlaimG.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;

}

.backgroun-samlN3 {
    background-image: url('../images/smalIMageN2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;

}

.vino {
    font-family: 'Bodoni Moda SC', sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.19em;
    text-align: left;
    color: rgba(75, 33, 33, 1);
    text-align: center;
}

.lamejor {
    font-family: "Baskervville SC", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.19em;
    color: rgba(49, 23, 23, 1);
}

.descrube {
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.19em;
    color: rgba(49, 23, 23, 1);
}

.onli-Strings {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    position: relative;
    bottom: 110ch;
}

.smol-glasis {
    width: 162px;
    margin-top: 200px;
}

.smol-boxxx {
    display: flex;
    gap: 164px;
    position: relative;
    top: 57%;
}

.smol-battel {
    width: 226px;
}

.imageSolBatel {
    width: 226px;

}

.patara-galses {
    max-width: 162px;
    max-width: 100%;
    margin-top: 200px;


}

.patara-divBoxsi {
    display: flex;
    gap: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 57%;
}

.section-firStClas {
    margin-top: 50px;
}

#agmochena {
    display: none;
}

#sauketeso {
    display: none;
}

#ghvino {
    display: none;
}

.battoRn-First {
    width: 30px;
    height: 30px;
    color: rgb(29, 23, 23);
    animation-name: back;
    font-size: 25px;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    border-radius: 10px;
}

@keyframes back {
    10% {
        background-color: blueviolet;
    }

    20% {
        background-color: cadetblue;
    }

    30% {
        background-color: chocolate;
    }

    40% {
        background-color: rgb(82, 6, 6);
    }

    50% {
        background-color: burlywood;
    }
}

.van {
    color: rgb(29, 23, 23);
    animation-name: firstbottoRn;
    font-size: 25px;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-duration: 2s;

}

@keyframes firstbottoRn {
    10% {
        color: aqua;
    }

    20% {
        color: blue;

    }

    30% {
        color: blanchedalmond;
    }

    40% {
        color: brown;
    }

    60% {
        color: chartreuse;
    }

    70% {
        color: crimson;
    }
}

.gadamSvleli-yutebi {
    display: flex;
    gap: 30px;
}

.section-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    animation-name: animeishen;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: auto;
    margin-top: 50px;
}

@keyframes animeishen {
    10% {
        width: 10%;
        background-color: blue;
    }

    20% {
        width: 20%;
        background-color: rgb(75, 75, 250);

    }

    30% {
        width: 40%;
        background-color: red;
    }

    40% {
        width: 50%;
        background-color: rgb(238, 65, 65);

    }

    50% {
        width: 60%;
        background-color: green;
    }

    60% {
        width: 70%;
        background-color: rgb(133, 212, 133);

    }

    70% {
        width: 75%;
        background-color: rgb(216, 83, 187);

    }
}

/* გვერდი N1 */

.N1-mainDiv {
    width: 1440px;
    width: 95%;
    margin: auto;
}

.images-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    background-color: pink;
    transition: 3s;

}

.images-div:hover {
    transition: 3s;
    background-color: blueviolet;
}

.strinagers-frist {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 229, 229);
    gap: 20px;
    width: 100%;
}

.boLIa {
    width: 100%;
}

.amber {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.13em;
    margin-top: 30px;
}

.calatta {
    display: flex;
    color: rgb(180, 180, 177);
    font-size: 20px;
    text-shadow: 2px 2px rgb(171, 255, 16);
}

.pey {
    font-size: 20px;
    font-weight: 700;


}


.Divs-merger {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.moitao {
    font-size: 20px;
    color: black;
    letter-spacing: 0.13em;

}

.chirveuliIMg {
    width: 100%;

}

.mamnver {
    width: 100%;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
}


.margerra {
    width: 350px;
}

.doqi {
    width: 100%;
    display: block;
}

.secTion-strings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: pink;

}

.first-string {
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
}

.kalata {
    display: flex;
    font-size: 20px;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 2px 2px rgb(133, 7, 7);
}

.peyd {
    font-size: 20px;
    font-weight: 700;
}

.marger-boxsN2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.images-boxN3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.tbilVino {
    width: 100%;
    background-color: rgb(255, 196, 207);
    display: block;
    transition: 3s;

}

#xazzia {
    color: black;
    text-decoration: line-through;
}

.tbilVino:hover {
    background-color: blueviolet;
    transition: 3s;
}

.section-margerr {
    width: 350px;

}

.secTion-striGErs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(236, 229, 229);
}

.tbili-GVino {
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: 0.19em;

}

.damaaTTeba {
    font-size: 20px;
    color: beige;
    text-shadow: red 2px 2px 3px;
}

.many {
    font-size: 20px;
    line-height: 10px;
    font-weight: 700;
}

.xazzi {
    text-decoration: line-through;
    color: black;
}

.gadaxzva {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tvienitu {
    color: gold;
}

.colorful {
    color: gold;
}

.meoreGverdis-main {
    width: 1440px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

.left-Div {
    width: 10%;
    height: 180vmax;
    float: left;
    background-color: rgb(163, 163, 163);
    animation-name: leftDiv;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

@keyframes leftDiv {
    10% {
        background-color: blue;
    }

    20% {
        background-color: rgb(61, 61, 63);
    }

    30% {
        background-color: rgb(5, 5, 134);
    }

    40% {
        background-color: rgb(82, 8, 151);
    }

    50% {
        background-color: blueviolet;
    }
}


.right-DIv {
    width: 10%;
    height: 180vmax;
    float: right;
    background-color: rgb(163, 163, 163);
    animation-name: rightDIv;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

@keyframes rightDIv {
    10% {
        background-color: blue;
    }

    20% {
        background-color: rgb(61, 61, 63);
    }

    30% {
        background-color: rgb(5, 5, 134);
    }

    40% {
        background-color: rgb(82, 8, 151);
    }

    50% {
        background-color: blueviolet;
    }
}

/* meore gverdiN2 */
.mTsvaneee {
    width: 350px;
    display: block;
    background-color: blanchedalmond;
    transition: 3s;
}

.mTsvaneee:hover {
    background-color: rebeccapurple;
    transition: 3s;

}

.meOreGVedis-DIv {
    display: flex;
    flex-direction: column;
    width: 350px;

}

.mTvsanea {
    font-size: 25px;
    font-weight: 700;
    color: rgb(87, 3, 28);
    margin-top: 30px;
}

.omli-sTrrings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-bay {
    font-size: 20px;
    color: rgb(90, 90, 89);
    transition: 0.1s;

}

.products-bay:hover {
    color: blueviolet;
    transition: 0.1s;
    text-shadow: 2px 3px chartreuse;
}

.onli-Bayy {
    font-size: 20px;
    font-weight: 600;
}

.spanBay {
    text-decoration: line-through;
    font-weight: 400;
    color: black;
    font-size: 20px;
}

.morea {
    color: gold;
    font-size: 20px;


}

.margerBig-Boxs {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.margin-damwevi {
    margin-top: 50px;
}

.mamaoDzravebeli {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.conytroller-DIv {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.margin-Section {
    width: 50%;
    margin-top: 60px;
}

/* MeN3 gverdi */
.mesameGverdis-mainDIV {
    width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.marjvena-Divi {
    width: 25%;
    height: 179vmax;
    float: left;
    background-color: black;
}

.secTionS-ReseT {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.reSetN2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.sertiFaiv {
    text-decoration: line-through;
    color: black;
    font-weight: 700;
    font-size: 20px;

}

.tsinanda {
    text-align: center;
}

.elevN {
    font-size: 25px;
    color: gold;
}

.Conteiner-marger {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.bolo-secTion {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.new-conteiiner {
    width: 40%;
    margin-top: 50px;
}

.ucklaso {
    width: 100%;
}

/* footer */
.footter {
    background-color: black;
    margin-top: 40px;
    padding: 50px;
    animation-name: fot;
    animation-iteration-count: infinite;
    animation-duration: 2s;

}

@keyframes fot {
    10% {
        background-color: #34495e;
    }

    20% {
        background-color: #0053a7;
    }
}

.footer-Div {
    display: flex;
    max-width: 80%;
    background-color: #34495e;
    margin: auto;
    justify-content: space-between;
    animation-name: footerdIv;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes footerdIv {
    10% {
        background-color: #0053a7;
    }

    20% {
        background-color: #CCCCCC;
    }

    30% {
        background-color: #FFA500;
    }
}


.font-style {
    font-size: 40px;
}

.ffoter-StrinGs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ffoter-StrinGs a:nth-child(2n) {
    color: beige;
    text-shadow: #b90e47 2px 2px;
}

.ffoter-StrinGs a:nth-child(2n)::first-letter {
    color: #CCCCCC;

}

.strongers {
    margin-top: 50px;
}

.onli-footerStrings {
    color: #0053a7;
    width: 70px;
    text-shadow: beige 2px 2px;
}

.onli-footerStrings::first-letter {
    color: red;
    font-size: xx-large;
    font-size: 45px;
}

.fa-youtube {
    font-size: 30px;
    color: red;
}

.fa-youtube:hover {
    margin-bottom: 10px;

}

.fa-facebook {
    font-size: 30px;
    color: rgb(31, 104, 238);
}

.fa-facebook:hover {
    margin-bottom: 10px;

}

.fa-instagram {
    font-size: 30px;
    color: rgb(255, 32, 170);
}

.fa-instagram:hover {
    margin-bottom: 10px;
}

.fa-whatsapp {
    font-size: 30px;
    color: rgb(3, 133, 3);

}

.fa-whatsapp:hover {
    margin-bottom: 10px;
}

.footer-linksDIv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.venaxo {
    display: inline-block;
    align-items: center;

}

.tvezsero {
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
    color: beige;
    transition: 2s;

}

.tvezsero:hover {
    text-shadow: 2px 3px rgb(240, 2, 133);
    transition: 2s;
}

/* emateba mxolod footershi georgias */
.dmateba-washla {
    display: none;
}

/* aqamde */